$black: #000;
$white: #fff;
$gray-text: #7C7C7C;
$gradient-bg: #E5E7F2;
$gray-bg: #F4F5FB;
$gray-hr: #B3B3B3;
$color-title: #233947;
$gray-form: #848B91;
$gray-cr: #484F55;
$gray-control: #B7B7B7;
$border-modal: #BCBCBC;
$blue-color: #54C9DE;
$green-color: #26B749;
$green-secondary: #10B17F;
$black-footer: #181B1E;
$header-bg: #2A2E33;
$red-color: #EF3E3E;
$black-active: #1F242A;

$main-font: 'Montserrat', sans-serif;


:export { faArrow: $gray-control; }